/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #777;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ececec;
}

.clock {
  position: relative;
  margin: 50px auto;
  padding: 2rem;
  border: 10px solid #fefefe;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3),
    inset 4px 8px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.clock::after {
  content: "";
  position: absolute;
  left: 0;
  top: 120px;
  display: block;
  width: 50%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  z-index: 100;
  transition: all 500ms;
  transform: rotate(-45deg) translateX(-180px);
}

.clock:hover::after {
  transform: rotate(-45deg) translateX(700px);
}

.clock-face {
  position: relative;
  background-image: url("clock.png");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.clock::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #f82626;
  border-radius: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  transform-origin: 100%;
  transition: all 1s;
}

.hour {
  height: 20%;
  left: 48.75%;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
  background-color: #8bc34a;
}

.minute {
  height: 40%;
  left: 49%;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
  background-color: #03a9f4;
}

.second {
  height: 45%;
  left: 49.5%;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
  background-color: #f82626;
}
