/* reset css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

html,
body {
  font-size: 62.5%;
}

body {
  background-color: #eeeeee;
}

ul li {
  list-style: none;
}

/*auto slider*/
.auto--slider {
  margin-bottom: 3.2em;
}
.auto--slider .slider {
  position: relative;
  height: 50em;
  margin-bottom: 1.2em;
}

.auto--slider .slider .slider--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 9.4em;
  color: #fafafa;
  font-size: 3.2rem;
  opacity: 0;
  transition: all 400ms linear;
  text-align: center;
}

.auto--slider .slider .slider--img.visible {
  opacity: 1;
  z-index: 1;
}

.auto--slider .slider .slider--img:nth-child(odd) {
  background-color: #0db5e9;
}

.auto--slider .slider .slider--img:nth-child(even) {
  background-color: #0066ff;
}

.slider--state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider--dot {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  background-color: #999;
}

.slider--dot:not(:last-child) {
  margin-right: 1.4em;
}

.slider--dot.show {
  width: 2.2em;
  height: 2.2em;
}

.slider--dot:nth-child(odd).show {
  background-color: #0db5e9;
}

.slider--dot:nth-child(even).show {
  background-color: #0066ff;
}

/* btn controll slider */
#slider {
  position: relative;
  width: 100vw;
  height: 50em;
  overflow: hidden;
}

#slide--wrap {
  position: relative;
  display: flex;
  list-style: none;
  transition: all 0.5s ease;
  left: 0;
}

.slide--item {
  float: left;
  min-width: 100vw;
  font-size: 3.2rem;
  line-height: 9.4em;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.slide--item:nth-child(odd) {
  background-color: #00a6ed;
}
.slide--item:nth-child(even) {
  background-color: #ffd966;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  padding: 0.2em 0.6em;
  border: none;
  border-radius: 0.2em;
  background-color: rgba(255, 255, 255, 0.2);
  color: #1d1d1d;
  font-size: 1.4rem;
  font-weight: 700;
  transform: translateY(-50%);
  transition: all 300ms ease;
  cursor: pointer;
}

#next:hover,
#prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0;
}

#prev {
  left: 1.2em;
}

#next {
  right: 1.2em;
}
