* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

::selection {
  background-color: #d1d1d1;
}

html,
body {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #e9e9e9;
  color: #777;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}

#clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 5.2rem;
}

strong {
  display: block;
  border-radius: 0.2em;
  padding: 2rem;
  box-shadow: 3px 3px 9px #bfbfbf, -3px -5px 9px #ffffff;
  user-select: none;
}

.card:not(:last-child) {
  margin-right: 0.4em;
}
