html,
body {
  font-size: 62.5%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #0d0d0d;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  padding: 0.8em;
  border: none;
  border-radius: 0.4em;
  outline: none;
  cursor: pointer;
}

.btn-area {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 8em;
  top: 6em;
}

.move_btn {
  margin-bottom: 1.2em;
  background-color: #fcfcfc;
  font-size: 1.6rem;
  font-weight: 700;
  color: #1d1d1d;
  transition: color 300ms linear;
}

.move_btn:hover {
  color: #ff3838;
}

.move_btn:nth-child(3):hover {
  color: #00ff99;
}

.box {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 50em;
  height: 50em;
  background-color: #ff3838;
}

.box.point {
  background-color: #00ff99;
}
