/* reset css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* slider */
.slider {
  width: 100%;
}
.silder--img {
  height: 400px;
  line-height: 400px;
  color: #fafafa;
  font-size: 32px;
  text-align: center;
}
.silder--img:nth-child(odd) {
  background-color: #061d95;
}
.silder--img:nth-child(even) {
  background-color: #0066ff;
}
