/* reset css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  background-color: #eeeeee;
}

ul li {
  list-style: none;
}

  position: relative;
  height: 300px;
  margin-bottom: 12px;
}

.slider--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 300px;
  color: #fafafa;
  font-size: 32px;
  opacity: 0;
  transition: all 400ms linear;
  text-align: center;
}

.slider--img.visible {
  opacity: 1;
  z-index: 1;
}

.slider--img:nth-child(odd) {
  background-color: #0db5e9;
}

.slider--img:nth-child(even) {
  background-color: #0066ff;
}

.slider--state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider--dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #999;
}

.slider--dot:not(:last-child) {
  margin-right: 8px;
}

.slider--dot.show {
  width: 20px;
  height: 20px;
}

.slider--dot:nth-child(odd).show {
  background-color: #0db5e9;
}

.slider--dot:nth-child(even).show {
  background-color: #0066ff;
}
