/* setting CSS */
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  color: #1d1d1d;
}

/* list */
dl {
  margin: 0;
  margin-bottom: 3.2em;
}

dd {
  margin-left: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* text */
h3 {
  margin: 0;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
}

abbr {
  font-size: 2.4rem;
  font-weight: 700;
}

em {
  font-size: 1.4rem;
}

/* container CSS */
.container {
  max-width: 216em;
  margin: 0 auto;
}

.hader-info {
  display: flex;
  align-items: center;
  padding-top: 10em;
  margin-bottom: 3.2em;
}

.img-container {
  width: 28em;
  margin-right: 1.4em;
}

.profile {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}

.screen-out {
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.nickname {
  font-size: 2.4rem;
  margin-bottom: 0.8em;
}

.occupation {
  font-size: 1.4rem;
  color: #666;
}

.tool-list {
  display: flex;
}

.tool-title {
  margin: 0;
  margin-bottom: 0.8em;
  font-size: 1.8rem;
}

.intro,
.projects {
  padding: 16px;
  border-bottom: 1px solid #ebebeb;
}

.tool-name {
  padding: 0.2em 0.6em;
  border-radius: 0.2em;
  background-color: #efefef;
  font-size: 1.4rem;
  color: #666;
  text-align: center;
}

.tool-item:not(:last-child) .tool-name {
  margin-right: 0.8em;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4em;
  padding: 1.4em 1.2em;
  border-radius: 0.5em;
  min-width: 100em;
  color: #666;
  transition: all 0.3s;
  text-decoration: none;
}

.project:hover {
  background-color: #fff;
  color: #1d1d1d;
  box-shadow: 2px 2px 6px #eeee;
}

.section-title {
  font-size: 2.4rem;
}

.project-number {
  font-weight: 700;
  flex-basis: 10%;
}

.project-title {
  margin: 0;
  font-weight: 400;
  flex-basis: 80%;
  font-size: 1.4rem;
}

footer {
  text-align: center;
  color: #999;
  font-weight: 300;
  padding: 2em 0;
}

@media screen and (max-width: 760px) {
  .hader-info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects-list .project-card {
    min-width: 100%;
  }

  .projects-list .project {
    min-width: auto;
  }

  .project-number {
    flex-basis: 28%;
  }

  .project-title {
    flex-basis: 50%;
  }
}
