/* setting CSS */
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fcfcfc;
}

/* list */
dl {
  margin-bottom: 3.2em;
}

dd {
  margin-left: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

/* text */
abbr {
  display: block;
  margin-bottom: 12px;
  font-size: 2.4rem;
  font-weight: 700;
  color: #1d1d1d;
}

/* container CSS */
.container {
  max-width: 1040px;
  margin: 0 auto;
}

.hader-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2em 0;
}

.img-container {
  margin-right: 1.4em;
  width: 180px;
}

.profile {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.screen-out {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -100;
}

.nickname {
  margin-bottom: 0.8em;
  font-size: 2.4rem;
  color: #1d1d1d;
}

.occupation {
  font-size: 1.4rem;
  color: #666;
}

.tool-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tool-title {
  margin-bottom: 0.8em;
  font-size: 1.8rem;
  color: #1d1d1d;
}

/* intro */
.intro,
.projects {
  padding: 16px;
  border-bottom: 1px solid #ebebeb;
}

.intro p {
  font-size: 1.4rem;
}

.tool-name {
  padding: 0.2em 0.6em;
  border-radius: 0.2em;
  background-color: #efefef;
  font-size: 1.4rem;
  color: #666;
  text-align: center;
}

.tool-item:not(:last-child) .tool-name {
  margin-right: 0.8em;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.project-card {
  margin-bottom: 12px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.4em 1.2em;
  border-radius: 0.5em;
  min-width: 500px;
  font-size: 1.4rem;
  color: #666;
  transition: all 0.3s;
  text-decoration: none;
}

.project:hover {
  background-color: #fff;
  color: #1d1d1d;
  box-shadow: 2px 2px 8px #00000011;
}

.section-title {
  font-size: 2.4rem;
}

.project-number {
  margin-right: 32px;
}

.project-title {
  flex-basis: 80%;
}

footer {
  padding: 2em 0;
  font-size: 1.4rem;
  text-align: center;
  color: #666;
}

@media screen and (max-width: 760px) {
  .hader-info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-card,
  .project {
    min-width: 100%;
  }

  .project-title {
    flex-basis: 50%;
  }
}
