/* reset css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Noto Sans", sans-serif;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c4c4c4;
}

header,
.gnb {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 1.3em 2em;
  border-radius: 5px;
  width: 1000px;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

/* Logo */
header > a > strong {
  color: #0d0d0d;
  font-size: 16px;
}

/* gnb */
.gnb li:not(:last-child) {
  margin-right: 8px;
}

.gnb li {
  position: relative;
}

.gnb li > .menu {
  position: relative;
  color: #666;
  padding: 10px;
  transition: all 300ms linear;
}

.gnb li > .menu:hover {
  color: #1d1d1d;
}

.gnb li > .menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: #1d1d1d;
  transition: all 300ms linear;
}

.gnb li > .menu:hover:after {
  width: 100%;
}

/* dropdown */
.dropdown {
  position: absolute;
  left: 0;
  top: 40px;
  max-height: 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 300ms linear;
}

.show {
  max-height: 200px;
  z-index: 1;
}

.dropdown > .item:not(:last-child) {
  margin-right: 0;
  border-bottom: 1px solid #666;
}

.dropdown > .item > a {
  display: block;
  padding: 4px 16px;
  color: #666;
  background-color: #fff;
  text-align: center;
}

.dropdown > .item > a:hover {
  color: #1d1d1d;
}
