/* reset css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  background: #ececec;
}

/* Text CSS */
h2 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  color: #202020;
}

.card:nth-child(2) h2 {
  position: absolute;
  left: 50%;
  top: 22px;
  transform: translate(-50%);
}

.percent-num {
  font-size: 1.8rem;
  color: #666;
  text-align: center;
  transition: color 0.4s;
}

.donut .inner .percent-num {
  font-size: 1.2rem;
  line-height: 6.4em;
}

/* container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 18px;
  max-width: 1024px;
  height: 100vh;
}

/* card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 2rem;
  min-width: 44.6em;
  height: 50.6em;
  border-radius: 5px;
  background-color: #f7f7f7;
  text-align: center;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 2px 2px 8px rgba(133, 133, 133, 0.3);
}

.card:not(:last-child) {
  margin-right: 2.4em;
}

.horizontal {
  position: relative;
  margin-bottom: 1.8em;
  width: 100%;
  height: 2em;
  border-radius: 6em;
  overflow: hidden;
  background-color: #dfdfdf;
}

.horizontal .value-bar {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 2em;
  border-radius: 6em;
  animation: left 4s linear both;
}

@keyframes left {
  20% {
    background-color: #e42113;
  }
  60% {
    background-color: #f7cc11;
  }
  100% {
    background-color: #0ff135;
    transform: translateX(100%);
  }
}

.donut {
  position: relative;
  width: 16em;
  height: 16em;
  border-radius: 50%;
  background-color: initial;
  transform: scale(2);
  overflow: hidden;
}

.donut .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  width: 12em;
  height: 12em;
  border-radius: 50%;
  background-color: #f7f7f7;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.donut .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
  border-radius: 50%;
  clip: rect(0, 100px, 100px, 50px);
}

.donut .progress .value-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  clip: rect(0, 50px, 100px, 0);
  background-color: #0ff16a;
}

.donut .left .value-bar {
  animation: down 2s linear both;
}

@keyframes down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotate(180deg);
  }
}

.donut .right {
  transform: rotate(180deg);
}

.donut .right .value-bar {
  animation: up 2s linear both;
  animation-delay: 2s;
}

@keyframes up {
  to {
    transform: rotate(180deg);
  }
}

.vertical {
  position: relative;
  margin-bottom: 1.6em;
  width: 2em;
  height: 160px;
  border-radius: 6em;
  overflow: hidden;
  background-color: #dfdfdf;
}

.vertical .value-bar {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  border-radius: 6em;
  background: linear-gradient(to top, rgb(37, 196, 50), rgb(169, 235, 82));
  animation: top 4s ease-in both;
}

@keyframes top {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 800px) {
  .card:not(:last-child) {
    margin-right: 0;
  }

  .card:first-child {
    margin-right: 3em;
  }
}

@media screen and (max-width: 520px) {
  .container {
    height: 100%;
  }
  .card:first-child {
    margin-right: 0;
  }

  .card:not(:last-child) {
    margin-bottom: 3em;
  }
}
