/* reset CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  font-size: 62.5%;
}

/* Box */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  padding: 0 1.6rem;
  background-color: #fafafa;
}

header {
  padding: 0.2rem 0.4rem;
}

header::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 54%;
  height: 1.4px;
  border-radius: 6em;
  background-color: #666;
}

/* Form */
.todo-form {
  display: flex;
  background-color: #e7e7ea;
  padding: 0.4rem 0.6rem;
  border-radius: 0.8em;
  text-align: center;
}

input[type="text"] {
  flex-grow: 2;
  margin-right: 0.4em;
  border: none;
  padding: 0.4em 0.6em;
  border-radius: 0.4em;
  box-shadow: 1px 1px 8px #f1f1f1 inset;
}

/* Font */
h1 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #1d1d1d;
  text-align: center;
}

.todo-desc {
  flex-grow: 2;
  font-size: 1.4rem;
  color: #1d1d1d;
  max-width: 20em;
  word-break: break-all;
  margin-right: 1.2em;
  cursor: pointer;
}

.todo-desc.finish {
  text-decoration: line-through;
  color: #666;
}

/* List */
ul {
  padding-left: 0;
  margin: 0;
  max-height: 60em;
  overflow: auto;
}

ul::-webkit-scrollbar {
  width: 1.2em;
}
ul::-webkit-scrollbar-thumb {
  background-color: #8094b4;
  border-radius: 6em;
}
ul::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 6em;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.26em solid #f1f1f1;
  list-style: none;
}

/* Button */
button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 0.4em;
  background-color: initial;
  cursor: pointer;
  transition: all 0.4s;
}

.delete-btn {
  border: 1px solid #ebebeb;
  color: #666;
}

.delete-btn:hover,
.delete-btn:focus {
  border-color: #1d1d1d;
  color: #1d1d1d;
}

.todo-submit {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4em;
  font-weight: 700;
  color: #1d1d1d;
}

.todo-submit:hover,
.todo-submit:focus {
  background-color: #3be780;
}
